@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for showing interest in this application. I would like to take a moment to describe the overall plans for the future of this application. Currently the app is functional but still needs alot of work in both styling and in functionality. The idea is for it to be a community with chat rooms, giving people another social media style hub that allows them to connect with other gamers, as well as find new friends. We understand all too well that life takes over at a certain age and the friends you once played with everyday have different schedules now. Its hard to make time in this busy world and a lot of times its easier to just game alone since noone can be online at the same time. We cant fix the busy ways of the world, but we can offer a space for people to come together and make new friends in the gaming community that share the same interests as you. The Preferred Genre option will let you know the main style of game someone likes to play and shortly we will have the ability for Users to display a list of games they actively play on their account. We look forward to serving the gaming community in any way possible and hope noone has to game alone again!</p>
